.container{
    background: lavenderblush;
    display: flex;
    width: 100%;
    height: 80vh;
    .input{
        background: lightblue;
        flex: 1;
        display: flex;
        flex-direction: column;
        padding: 0.2rem;
        .inputitemin{
            background: azure;
            flex: 5;
            margin:0.2rem;

        }
        .inputitemac{
            background: azure;
            flex: 1;
            margin:0.2rem;
        }
    }
    .output{
        background: lightskyblue;
        flex: 1;
        display: flex;
        flex-direction: column;
        padding: 0.2rem;
        .outputitem{
            background: lightgreen;
            flex: 1;
            margin: 0.2rem -0.2rem;
            word-break: break-all;
            overflow: auto;
            pre {
                white-space: pre-wrap;       /* Since CSS 2.1 */
                white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
                white-space: -pre-wrap;      /* Opera 4-6 */
                white-space: -o-pre-wrap;    /* Opera 7 */
                word-wrap: break-word;       /* Internet Explorer 5.5+ */
            }
        }
    }
}
textarea{
    width:100%;
    height:100%; 
    box-sizing: border-box;         /* For IE and modern versions of Chrome */
    -moz-box-sizing: border-box;    /* For Firefox                          */
    -webkit-box-sizing: border-box; /* For Safari                           */
    resize: none;
    border:none;
    outline: none;

}